@CHARSET "UTF-8";

/*
各要素の属性は
・背景
・文字/フォント
・要素の大きさ
・境界線
・ポジション
の順番とする
*/


body#loginBody {
	background: rgba(237, 228, 205, 1) url(../img/background.png);
	color: rgba(13, 0, 21, 1);
	font-size: 12pt;
}

body#mypageBody {
	background: rgba(237, 228, 205, 1) url(../img/background.png);
	color: rgba(13, 0, 21, 1);
	font-size: 12pt;
}

div#wrapper {
	text-align: center;
	margin: auto;
}

div#login {
	background: rgba(130, 174, 70, 0.6);
	text-align: center;
	width: 400px;
	max-width: 400px;
	height: 400px;
	max-height: 400px;
	position: relative;
	top: 30px;
	margin: auto auto auto auto;
	border-radius: 10px;
}

table#loginTable {
	position: relative;
	margin: 50px auto auto auto;
	top: 50px;
}

#logoutButton {
	position: absolute;
	right: 10px;
}

div#title {
	background: url(../img/title.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: rgba(237, 228, 205, 1);
	font-size: 20pt;
	width: 600px;
	max-width: 600px;
	height: 100px;
	max-height: 100px;
	margin: auto;
}

div#favoriteDisplay {
	background: rgba(248, 244, 230, 1);
	width: 700px;
	max-width: 700px;
	height: 300px;
	max-height: 300px;
	position: relative;
	top: 50px;
	margin: 50px auto auto auto;
}